body{
    height: 100%;
    margin: 0;
    background-color: #333333;
}

/* og color #ff3366 */
/*/*//*/*/

.navHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: rgb(117, 23, 46);

}
.navImage{
    width: 45px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
    padding: 5px;


    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    color: black;
    text-shadow: 1px 1px white;
}
h1 a{
    text-decoration-line: none;
    color: black;
}
h1 a:hover{
    text-decoration-line: none;
    color: #424242;
}
h1 a:visited{
    text-decoration-line: none;
    color: black;
}
h2{
    padding-left: 20px;
    font-style: oblique;
    font-weight: lighter;
    text-decoration: underline;
}

/*/*//*/*/

ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0 10px 0;

    background-color: rgba(180, 34, 70, 0.8);
}

.LIST{
    margin: 0 10px;
    padding: 0;
    flex-basis: 21%;
    flex-grow: 1;
    min-width: 109px;
    max-width: 200px;

    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    list-style: none;
    font-size: 30px;
}
.LIST:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.LIST A{
    margin: 0;
    padding: 5px;
    display: block;
    color: white;
    text-shadow: 1px 1px black;
    text-wrap: normal;
    text-decoration-line: none;
}
.navMain{
    position:fixed;
    top: 0;
    width: 100%;
    background-color: rgba(117, 23, 46, 0.8);
}

/*/*//*/*/

.mainPart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 136px;
    height: 900px;
    background-image: url("images/gaycouplegrad.jpg");
    background-size: cover;
}

.registerNowSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    margin: 30% 0 0 50%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.registerNowButton{
    width: auto;
    height: auto;
    margin: 15px;
    padding: 10px;

    border: 1px solid black;
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 50px;
    text-shadow: 3px 2px black;
}
.registerNowButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.registerNowParagraph{
    width: auto;
    font-size: 33px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px black;
    margin: 15px;
}

/*/*//*/*/

footer{
    padding: 15px;
    background-image: linear-gradient(rgb(91, 65, 75), rgb(52, 51, 51));
}

/*/*//*/*/

@media screen and (max-width: 900px) {
    .registerNowButton{
        font-size: 30px;
    }
    .registerNowParagraph{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .LIST {
        font-size: 15px;
        margin: 5px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 550px) {
    h1{
        font-size: 30px;
    }
    .navImage{
        width: 27px;
    }
    h2{
        font-size: 15px;
    }
    ul{
        padding: 0;
    }
    .LIST {
        border-radius: 0;
        margin: 0;
        border-style: none;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .LIST A{
        padding: 0;
    }
}

/*66, 54, 58*/